<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Serial" value="14598-K54D8-USR85-E8IJ7" />
    <add key="RunPath" value="D:\Arcane Mastery\Souma's Wikia\ShadevBil\Shadev\Shadev\bin\Debug" />
  </appSettings>
    <startup useLegacyV2RuntimeActivationPolicy="true"> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>